html{
    --color-marino: #1f2938;
    --color-azul: #1d4ed8;
    --color-gris: #606875;
    --color-grisoscuro: #384152;
    --color-grisclaro: #6c737e;
    --color-blanco: white;
}
body{
    font-size: 16px;
    margin: 0 auto;
    max-width: 1024px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: var(--color-marino);
}

header img{
    vertical-align: middle;
    width: 5%;
}

nav img{
    display: inline-block;
}

nav ul li{
    display: inline-block;
    color: white;
    margin: 10px;
    font-size: 0.8em;
}