html {
    --color-marino: #245D92;
    --color-azulfuerte: #1e4872;
    --color-gris: #EEEFEE;
    --color-blanco: white;
    --color-verde: #19A820;
    --color-azul: #1B6DA9;
    --color-morado: #7F1AA7;
    --color-rojo: #A71A19;
    --color-celeste: #BDE8F0;
    --color-amarillo: #FAEBCC;
    --color-rosadita: #EACCD1;
    /* border: 1px solid red; Permite ver el perimetro */
    /* Comando de windows para alinear: Alt + Shift + F */
}

body {
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}

header {
    background: var(--color-marino);
    text-align: center;
}

header img {
    max-width: 250px;
}

section {
    /* border: 1px solid red; */
    display: inline-block;
    vertical-align: top;
}

#menusuperior {
    background: var(--color-gris);
    text-align: right;
    padding: 8px;
}

#menusuperior article img {
    margin-left: 8px;
    max-width: 100px;
    height: auto;
}

#PanelLateral {
    width: 24.5%;
    /* border: 1px solid red; */
}

section nav ul li, article ul li {
    list-style-type: none;
}

ul{
    margin: 0px;
    padding: 0px;
}

#PanelLink {
    background: var(--color-azulfuerte);
    height: 47%;
    padding: 50px;
}

#PanelLink img {
    height: 48%;
    width: 250px;
}

#PanelProgress{
    height: 47%;
    margin-top: 20px;
}

#PanelProgress img {
    height: 48%;
    width: 250px;
}

#megaseccion {
    /* border: 1px solid red; */
    width: 73%;
    float: right;
    overflow: hidden;
}

#Cubos article{
    float: left;
    width: 23.9%;
    box-sizing: border-box;
    padding: 10px;
}

.Titulo {
    float: left;
    overflow: hidden;
}

#Cubos article img{
    text-align: center;
    clear: left; 
    display: inline-block;
    width: 50%;
}

#Graficas article{
    float: left;
    width: 31.9%;
    box-sizing: border-box;
}

#Graficas article img{
    text-align: center;
    width: 90%;
}

#Usuarios article{
    float: left;
    width: 23.9%;
    box-sizing: border-box;
}

#Usuarios article img{
    text-align: center;
    width: 50%;
}