html {
    --color-marino: #245D92;
    --color-azulfuerte: #1e4872;
    --color-gris: #EEEFEE;
    --color-blanco: white;
    --color-verde: #19A820;
    --color-azul: #1B6DA9;
    --color-morado: #7F1AA7;
    --color-rojo: #A71A19;
    --color-celeste: #BDE8F0;
    --color-amarillo: #FAEBCC;
    --color-rosadita: #EACCD1;
    /* border: 1px solid red; Permite ver el perimetro */
    /* Comando de windows para alinear: Alt + Shift + F */
}

body {
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}

header {
    background: var(--color-marino);
    text-align: center;
}

header img {
    max-width: 250px;
}

section {
    /* border: 1px solid red; */
    display: inline-block;
    vertical-align: top;
}

#menusuperior {
    background: var(--color-gris);
    text-align: right;
    padding: 4px;
}

#menusuperior article img {
    margin-left: 8px;
    max-width: 100px;
    height: auto;
}

#PanelLateral {
    width: 24.5%;
    /* border: 1px solid red; */
}

.letrablanca{
    color: var(--color-blanco);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

section nav ul li, article ul li {
    list-style-type: none;
}

ul{
    margin: 0px;
    padding: 0px;
}

#PanelLink {
    background: var(--color-azulfuerte);
    height: 47%;
}

#PanelLink img {
    width: 100%;
}

#PanelProgress{
    height: 47%;
    margin-top: 20px;
}

#PanelProgress img {
    width: 100%;
}

#megaseccion {
    /* border: 1px solid red; */
    width: 73%;
    float: right;
    overflow: hidden;
}

.Titulo {
    float: left;
    overflow: hidden;
}

#Cubos article{
    float: left;
    width: 22%;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    margin: 0 15px 5px 0;
}

#Cubos article img{
    text-align: center;
    clear: left; 
    display: inline-block;
    width: 55%;
}

#Art1{
    background-color: var(--color-verde);
    padding: 7px 2px;
}

#Art2{
    background-color: var(--color-azul);
    padding: 4px 2px;
}

#Art3{
    background-color: var(--color-morado);
    padding: 5px 2px;
}

#Art4{
    background-color: var(--color-rojo);
    padding: 6px 2px;
}

.letracubo{
    color: var(--color-blanco);
}

#Graficas article{
    float: left;
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: 32%;
    margin: 0 8px 0 0;
}

#Art5{
     border: 1px solid red; 
     position: relative;
     padding: 20px;
}

#Graficas article img{
    display: block;
    width: 100%;
    height: auto;
}

.letraencabezado{
    display: block; 
    text-align: center; 
    margin-bottom: 5px;
}

#encabezado1{
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1.6em; 
}

#Art6{
    /* border: 1px solid blue; */
}

#encabezado2{
    border: 1px solid red;
    text-align: center;
    margin: 0 auto;
    font-size: 1.6em;
}
#Art7{
    /* border: 1px solid green; */
}

#encabezado3{
    border: 1px solid red;
    text-align: center;
    margin: 0 auto;
    font-size: 1.6em;
}

#Usuarios article{
    float: left;
    width: 23.9%;
    box-sizing: border-box;
}

#Usuarios article img{
    text-align: center;
    width: 50%;
}
